body {
	background-color: black;
}

p {
	color: white;
	font-family: 'Michroma', sans-serif;
}

button {
	background-color: black;
}

.ad {
	height:200px;
	width:300px;
    
}

h1 {
	color: red;   
    font-size: 65px;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    
}

h4 {
	color: red;
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
}

.product{
	border: 1px solid red;
    background-color:#3b19fa;
}

.intro {
	border: red 2px solid;
    background-color: #3b19fa;
	margin: auto;
	height: 200px;
    width: 300px;    
}

.pic {
	width: 670px;
    height: 620px;
	border: solid 1px #03fff2;
    position: absolute;
    margin-top: 80px;
}

.partone {
	border: 2px red solid;
    background-color: #3b19fa;
    float: right;
    width:550px;
    height:250px;
    margin-top: 100px;
	padding: 15px;
}
.partonev2 {
	border: 2px red solid;
    background-color: #3b19fa;
    float: right;
    width:550px;
    height:220px;
    margin-top: 80px;
    margin-left: 500px;
	padding: 15px;
}

.parttwo {
	border: 1px red solid;
    background-color: #3b19fa;
    float: left;
    width: 640px;
    height: 530px;
    position: absolute;
    margin-top: 900px;
    margin-left: 700px;
}

.pic2 {
	border: 2px #03fff2 solid;
	float: left;
    width:600px;
    height:450px;
    margin-top: 200px;
}

.parttwov2 {
    border: 2px #03fff2 solid;
    float: left;
	width:600px;
    height:450px;
	margin-top: 100px;
    margin-right: 700px;
}

h3 {
	color: white;
	font-family: 'Michroma', sans-serif;
    font-size: 20px;
	text-align: center;
}

h2 {
	text-align: center;
    font-size: 40px;
	color: red;
}

.outro { 
	border: 1px red solid;
    background-color: #3b19fa;
    float: left;
    width: 640px;
    height: 230px;
    position: absolute;
    margin-top: 1500px;
    margin-left: 700px;
}